<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= l10n['plugin.dynamicview.title'] %> </title>
	<link rel="stylesheet" href="css/default.css" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css" crossorigin="anonymous">
	<script type="text/javascript" src="dist/dynamic-webview-index.js" crossorigin="anonymous"></script>
</head>

<body class="plugin-body">
    <div><%= l10n['plugin.dynamicview.description'] %></div>
</body>

</html>
