<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= l10n['plugin.index.title'] %></title>
	<link rel="stylesheet" href="css/default.css" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css" crossorigin="anonymous">
	<script type="text/javascript" src="dist/index.js" crossorigin="anonymous"></script>
</head>

<body class="plugin-body">
    
    <div><%= l10n['plugin.index.description'] %></div>

</body>

</html>
